.galery_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.galery_container_img {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
}

.galery_container_img img {
  width: 20%;
  border-radius: 20px;
}

.galery_container_img img:nth-child(n + 9) {
  display: none;
}

.galery_container_img.show-all img {
  display: block;
}

.galery_container button {
  margin-top: 2%;
  font-size: 2rem;
  padding: 5px 10px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  color: #000;
  background-color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.galery_container button:hover {
  background-color: #000;
  color: var(--main-color);
}

@media (max-width: 1024px) {
  .galery_container_img {
    width: 100%;
  }

  .galery_container_img img {
    width: 25%;
  }

  .galery_container_img img:nth-child(n + 7) {
    display: none;
  }

  .galery_container_img.show-all img {
    display: block;
  }

  .galery_container button {
    margin-top: 4%;
    margin-bottom: 2%;
  }
}

@media (max-width: 768px) {
  .galery_container_img {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .galery_container_img img {
    width: 45%;
  }

  .galery_container_img img:nth-child(n + 5) {
    display: none;
  }

  .galery_container_img.show-all img {
    display: block;
  }
}
