@import url(../styles/home.css);
@import url(../styles/about.css);
@import url(../styles/galery.css);
@import url(../styles/carrier.css);

:root {
  --primary-bg-color: #000;
  --second-bg-color: #1c1c1c;
  --text-color: #fff;
  --main-color: #fedf2d;
  --hover-color: #9acd32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

section {
  height: auto;
  padding: 4% 10%;
}

.title {
  font-size: 5.2rem;
  text-align: center;
  margin: 3% 0;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header input,
.header label {
  display: none;
}

.menu_header {
  position: relative;
}

.menu_header a {
  font-size: 1.8rem;
  margin-left: 4.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 500;
}

.menu_header a:hover,
.menu_header a.active {
  color: var(--main-color);
}

#contact {
  position: fixed;
  bottom: 10%;
  right: 6%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  z-index: 100;
}

#contact .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--main-color);
  border-radius: 50% 0 0 50%;
  background-color: var(--main-color);
}

#contact a span {
  display: none;
}

#contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--main-color);
}

#contact i {
  margin-top: 1px;
  font-size: 3rem;
  color: #000;
}

.footer {
  height: 80px;
}

@media (max-width: 768px) {
  .menu_header {
    display: none;
    position: absolute;
    top: 80%;
    right: 10%;
    width: 150px;
    z-index: 1;
    text-align: end;
  }

  .header a img {
    width: 75%;
  }

  .header label {
    display: block;
    cursor: pointer;
    position: relative;
    width: 40px;
    z-index: 2;
  }

  .menu-icon {
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--main-color);
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .menu-icon::before,
  .menu-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--main-color);
    transition: transform 0.4s ease, top 0.4s ease, opacity 0.4s ease;
  }

  .menu-icon::before {
    top: -10px;
  }

  .menu-icon::after {
    top: 10px;
  }

  .check-menu:checked + .menu-icon {
    background: transparent;
  }

  .check-menu:checked + .menu-icon::before {
    top: 0;
    transform: rotate(45deg);
  }

  .check-menu:checked + .menu-icon::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .check-menu:checked + .menu-icon + .menu_header {
    display: block;
  }
}
